.navbar{
  max-width: 100%;
  height: auto;
}

.function{
  padding-left: 2em;
}
.button{
  margin-top: 23px;
}

.git{
  background: #000000;
  color: #ffffff;
}

body{
  position: relative;
  margin: 30px;
  padding: 0px;
  background-image: url("http://cdnph.upi.com/sv/b/i/UPI-5221440075520/2015/1/14400768644886/Google-study-Coding-is-a-low-priority-in-US-schools.jpg");
}

.section{
  padding-top: 0.7em;
}

.history{
  padding-top: 100px;
}
.myhistory{
  
}
h1.about-me{
  color: #072F52;
  padding-bottom: 30px;
  font-size: 3em;
}
.gates{
  padding: 40px;
}
.bill{
  text-align: right;
}
li{
  font-size: 1.4em;
  font-weight: bold;
}
.moonlighter{
  background-image: url("http://www.clker.com/cliparts/w/5/2/T/M/A/ciel-noct-md.png");
}
.project{
  margin: 20px;
}
.guess{
  padding: 40px;
}
.guesscountry{
   width: 180px;
}
.frederic{
  padding: 40px;
}
.chopin{
  height: 180px;
  padding-top: 10px;
}
.plant{
  width: 240px;
}
.badass{
  padding: 40px;
}
.contactme{
  padding-top: 40px;
}

.my_pic{
  width: 5em;
  height: 5em;
}
.name{
  font-size: 1.3em;
  padding-top: 1.2em;
  font-weight: bold;
}

@media screen and (max-width:680px) {
  .list:not(:first-child) {display: none;}
}


.footer {
  bottom: 0;
  font-size: 20px;
  font-family: verdana;
  width: 100%;
  height: 100px;
  background: #f6f6f6;
  border-radius: 5px;
  }
p.footer{
  padding: 30px;
  color: #1C944E;
}

.abt{
  font-style: italic;
  font-size: 28px;
  color: #4AED09;
}
.brc{
  font-style: italic;
  font-size: 28px;
  color: #;
}
.me{
  font-style: italic;
  font-size: 28px;
  color: #DB9B0F;
}
.ret{
  font-style: italic;
  font-size: 28px;
  color: #D6047B;
}
.fun{
  font-style: italic;
  font-size: 28px;
  color: #00ACE6;
}

/* Style the links inside the list items */
ul.nav li a {
    display: inline-block;
    text-align: center;
    transition: 0.3s;

}

/* Change background color of links on hover */
ul.nav li a:hover {background-color: #555;}


.resizable(@direction: both) {
  // Options: horizontal, vertical, both
  resize: @direction;
  // Safari fix
  overflow: auto;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }